<!-- Team Roster Page-->
<html lang = "en">
	<head>
		<title>Team Roster</title>
	</head>
	<link href = "static\bootstrap.css" rel = "stylesheet">
	<style type="text/css">
		body {
       	 padding-top: 60px;
          padding-bottom: 40px;
      }
      .sidebar-nav {
      	  	padding: 9px 0;
      }
		#topRosterRow{
			font-weight:bold;
		}
	</style>	
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">Team Roster</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="{{url_for('show_calendar')}}">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container-fluid">
  <div class="row-fluid">
	  	<div class ="span3">
				<a class="twitter-timeline" href="https://twitter.com/search?q=%23espnwderby&result_type=recent" 
				data-widget-id="267340562263326720">Tweets about "#espnwderby"</a>
				<script>!function(d,s,id){
					var js,fjs=d.getElementsByTagName(s)[0];
					if(!d.getElementById(id)){
						js=d.createElement(s);
						js.id=id;js.src="//platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				</script>
		  </div>
		<div class ="span6">
		<table class = "table table-hover">
		{% for player in players %}
		<tr>				
			<td><img src={{player.picture}} alt="player_picture" width ="80" height = "80"></a></td>
			<td>{{player.derby_name}}</td>
			<td><a href="{{url_for('call_player', id=player.id)}}"> {{player.mobile}}</a></td>
			<td><a href="https://twitter.com/intent/tweet?screen_name={{player.twitter}}" 
					class="twitter-mention-button" data-lang="en">Tweet to {{player.twitter}}</a>
			<script>
			!function(d,s,id){
					var js,fjs=d.getElementsByTagName(s)[0];
					if(!d.getElementById(id)){
						js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js,fjs);
					}
			}(document,"script","twitter-wjs");</script> </td>
		</tr>
		{% endfor %}
		</table>
		</div>
	</div>
	</div>
	</body>
</html>
